

    <section class="sidebar-menu">
        <button class="sidebar-menu__button" (click)="onListAlbums()">
            <svg class="sidebar-menu__icon">
                <use xlink:href="assets/images/svg/sprite.svg#icon-image"></use>
            </svg>
             <span class="sidebar-menu__text">Albums</span>
        </button>
        <button class="sidebar-menu__button" (click)="onCreateAlbum()">
             <svg class="sidebar-menu__icon">
                <use xlink:href="assets/images/svg/sprite.svg#icon-new-message"></use>
            </svg>
             <span class="sidebar-menu__text">Add New Album</span>
        </button>
        <button class="sidebar-menu__button"  (click)="onUploadPhotos()">
             <svg class="sidebar-menu__icon">
                <use xlink:href="assets/images/svg/sprite.svg#icon-upload-to-cloud"></use>
            </svg>
             <span class="sidebar-menu__text">Upload Photos</span>
        </button>
    </section>

