<header class="header-item">
    <img src="https://bytegrad.com/course-assets/css/1/log.svg" alt="logo" class="logo">
    <div class="item item--1"> 
        <a routerLink="/elements" routerLinkActive="active" class="item__link">Elements</a> 
    </div>
    <div class="item item--2"> 
        <a routerLink="/collections" routerLinkActive="active" class="item__link">Collections</a>
    </div>
    <div class="item item--3"> 
         <a routerLink="/mods" routerLinkActive="active" class="item__link">Modules</a>
    </div>
    <div class="item item--4"> 
         <a routerLink="/albums" routerLinkActive="active" class="item__link">Albums</a>
    </div>
    <div class="item item--5"> 
        <i class="fas fa-bell item__icon"></i> 
    </div>
    <div class="item item--6"> 
        <img src="" alt="" class="item__img">
        <span class="item__text">AE</span>
    </div>
</header>
