.fa-exclamation {
  color: red;
}

.wizard {
    display: flex;
    margin-bottom: 2rem;
}

.wizard a {
    background: #efefef;
    display: inline-block;
    margin-right: .5rem;
    min-width: 15rem;
    outline: none;
    padding: 1rem 2rem 1.5rem;
    position: relative;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
}

.wizard a:hover {
    cursor: pointer;
    text-decoration: underline;
}

    /* Adds the cut out on the left side of the tab */
.wizard a:before {
    width: 0;
    height: 0;
    border-top: 2rem inset transparent;
    border-bottom: 2.4rem inset transparent;
    border-left: 2rem solid #fff;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}

    /* Adds the arrow on the right side of the tab */
.wizard a:after {
    width: 0;
    height: 0;
    border-top: 2rem inset transparent;
    border-bottom: 2.4rem inset transparent;
    border-left: 2.1rem solid #efefef;
    position: absolute;
    content: "";
    top: 0;
    right: -2.1rem;
    z-index: 2;
}

    /* Squares the start and end of the tab bar */
.wizard a:first-child:before,
.wizard a:last-child:after {
    border: none;
}

    /* Rounds the corners */
.wizard a:first-child {
    -webkit-border-radius: .8rem 0 0 0rem;
    -moz-border-radius: .8rem 0 0 0rem;
    border-radius: .8rem 0 0 0rem;
}

.wizard a:last-child {
    -webkit-border-radius: 0 .8rem 0rem 0;
    -moz-border-radius: 0 .8rem 0rem 0;
    border-radius: 0 .8rem 0rem 0;
}

.wizard .active {
    background: #007ACC;
    color: #fff;
}

    /* Adds the right arrow after the tab */
.wizard .active:after {
    border-left-color: #007ACC;
}
