$font-primary: 'Open Sans', Calibri, sans-serif;
$font-display: 'Lato', sans-serif;

$color-font-primary: #333;
$color-font-secondary: #777;
$color-primary: #0a4f9e;
$color-primary-light: rgb(103, 144, 247);
$color-primary-dark: #c78e00;
$color-secondary: #2c3e50;
$color-secondary-light: #566573;
$color-secondary-dark: #212f3d;

$color-background-primary: #f3f3f3;
$color-background-secondary: rgb(255, 237, 205);

$color-white: #fff;
$color-black: #000;
$color-grey-dark: #5f5c5c;
$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;

$color-error: #dc5548;